@model IEnumerable<Muzoteka.Models.utwor>

@{
    ViewBag.Title = "Wyszukane utwory";
}

<h2>Top 10 wyników</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gatunek)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dlugosc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.link)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.album.nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wykonawca.pseudonim)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gatunek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dlugosc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.album.nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.wykonawca.pseudonim)
            </td>
        </tr>
    }
</table>

@Html.ActionLink("Powrót na główną stronę", "Index", "Home" , new { }, new { @class = "btn btn-primary" })
